<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Products</h1>

    {% for product in products %}

    <div>
      <img src="{{ product.image }}" alt="{{ product.name }}" width="200" />

      <h2>
        <a href="{% url 'product-detail' product.pk %}"> {{ product.name }} </a>
      </h2>

      <p>Price: ${{ product.price }}</p>

      <p>Rating: {{ product.average_rating|default:"No ratings yet" }}</p>

      <p>{{ product.short_description }}</p>

      <p>Category: {{ product.category }}</p>

      <p>Brand: {{ product.brand }}</p>

      <a href="{% url 'add-to-cart' product.id %}">
        <button type="button">Add to Cart</button>
      </a>
      
    </div>

    <hr />

    {% empty %}

    <p>No products found.</p>

    {% endfor %}
  </body>
</html>
