<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ product.name }}</title>
  </head>
  <body>
    <a href="{% url 'product-list' %}"> ← Back to products </a>

    <h1>{{ product.name }}</h1>

    <div>
      <img src="{{ product.image }}" alt="{{ product.name }}" width="400" />

      <div>
        <p>
          <strong>Price:</strong>
          ${{ product.price }}
        </p>

        <p>
          <strong>Rating:</strong>
          {{ product.average_rating|default:"No ratings yet" }}
        </p>

        <p>{{ product.short_description }}</p>

        <a href="{% url 'add-to-cart' product.id %}">
          <button type="button">Add to Cart</button>
        </a>

        <button type="button">Write a Review</button>
      </div>
    </div>

    <hr />

    <div>
      <button type="button">Details</button>

      <button type="button">Reviews</button>
    </div>

    <div>
      <h2>Details</h2>

      <p>{{ product.description }}</p>
    </div>

    <div>
      <h2>Reviews</h2>

      {% for review in reviews %}

      <div>
        <h3>{{ review.reviewer_name }}</h3>

        <p>Rating: {{ review.rating }} / 5</p>

        <p>{{ review.text }}</p>
      </div>

      <hr />

      {% empty %}

      <p>No reviews yet.</p>

      {% endfor %}
    </div>
  </body>
</html>

<!-- <!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>{{ product.name }}</h1>

    <img src="{{ product.image }}" alt="{{ product.name }}" width="300" />

    <p>{{ product.short_description }}</p>

    <p>Price: ${{ product.price }}</p>

    <p>Category: {{ product.category }}</p>

    <p>Subcategory: {{ product.subcategory }}</p>

    <p>Brand: {{ product.brand }}</p>

    <hr />

    <h2>Reviews</h2>

    {% for review in product.reviews.all %}

    <div>
      <h3>{{ review.reviewer_name }}</h3>

      <p>Rating: {{ review.rating }}/5</p>

      <p>{{ review.text }}</p>
    </div>

    <hr />

    {% empty %}

    <p>No reviews yet.</p>

    {% endfor %}

    <a href="{% url 'product-list' %}">Back to products</a>
  </body>
</html> -->
